@using Vamos_Sergy.ViewModels
@using Vamos_Sergy.Models
@model ViewModel

@{
    ViewData["name"] = "WeaponShop";
}

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <partial name="_ViewHeroPartial" model="@Model.Hero" view-data="ViewData" />
        </div>
        <div class="col p-0">
            <div class="weaponShop container ">
                <div class="row">
                    <div class="row row-cols-5 ps-0 pe-1 " s>
                        <partial name="_InventoryLayout" model="@Model.Hero" view-data="ViewData" />

                    </div>
                </div>
                <div class="row">
                    <div class="col gy-0">
                        <buttonid class="bg-primary">New Wares</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-1 gy-0 ">
                    </div>
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="col col-3 ShopSlot gy-0" ondblclick="location.href='@Url.Action("BuyWeapon", "Main" , new { index=i})'">
                            <partial name="_ItemLayout" model="@Model.GetShopItem(i)" />
                        </div>
                    }
                    <div class="col col-2 gy-0">
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col col-1">
                        </div>
                        @for (int i = 3; i < 6; i++)
                        {
                            <div class="col col-3 ShopSlot gy-0" ondblclick="location.href='@Url.Action("BuyWeapon", "Main" , new { index=i})'">
                                <partial name="_ItemLayout" model="@Model.GetShopItem(i)" />
                            </div>
                        }
                        <div class="col col-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
