@using Vamos_Sergy.ViewModels
@using Vamos_Sergy.Models

@model ViewModel
<script type="text/javascript">

    const kast = ["mage", "warrior", "ranger"];
    let currentIndex = 0;
    function ShowHeroKast(number) {
        currentIndex += number;
        if (currentIndex < 0) {
            currentIndex = 2;
        } else if (currentIndex > 2) {
            currentIndex = 0;
        }
        let valami = '/Images\\ClassImages\\' + kast[currentIndex];
        if (currentIndex == 1) {
            valami += ".png";
        } else {
            valami += ".jpg"
        }
        document.getElementById("classImg").src = valami;
        document.getElementById("className").innerHTML = kast[currentIndex];
        document.getElementById("heroClass").value = currentIndex;
        document.getElementById("pivtureValue").value = valami;


    }
    function Valami() {
        alert("Double click");
    }

    function EgyValami() {
        alert("click");
    }

    function Buy(id) {
        var elem = document.getElementById(id);
        if (typeof elem.onclick == "function") {
            elem.onclick.apply(elem);
        }
    }

</script>
<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <partial name="_ViewHeroPartial" data="@Model" />
        </div>
        <div class="col p-0">
            <div class="weaponShop container ">
                <div class="row">
                    <div class="row row-cols-5 ps-0 pe-1 " s>
                        @for (int i = 0; i < @Model.Hero.MaxInvetory; i++)
                        {
                            <div class="col">
                                @if (Model.Hero.Inventory.ContainsKey(i) && Model.Hero.Inventory[i] != null)
                                {

                                    <img class="InventoryImg" src="@Url.Action("GetInventoryImage", "Main", new { id = Model.Hero.Inventory[i].ItemId})" />
                                }
                                else
                                {

                                    <img class="InventoryImg" src="/Images/NullImages\blank.png" />
                                }
                            </div>

                        }
                        @for (int i = 0; i < 25 - @Model.Hero.MaxInvetory; i++)
                        {
                            <div class="col">
                                <img class="InventoryImg" style="visibility:hidden" src="/Images/NullImages/blank.png" />
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-0">
                        <buttonid class="bg-primary">New Wares</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-1 gy-0 ">
                    </div>
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="col col-3 gy-0 shopSlot" ondblclick="location.href='@Url.Action("BuyWeapon", "Main" , new { index=i})'">
                            <partial name="_ItemLayout" model="@Model.GetShopItem(i)" />
                        </div>
                    }
                    <div class="col col-2 gy-0">
                    </div>
                </div>
                <div class="row" style="padding-bottom:1rem;">
                    <div class="col col-1">
                    </div>
                    @for (int i = 3; i < 6; i++)
                    {
                        <div class="col col-3 gy-0 shopSlot" ondblclick="location.href='@Url.Action("BuyWeapon", "Main" , new { index=i})'">
                            <img class="ShopImage" src="@Url.Action("GetShopImage", "Main", new { itemId = Model.GetShopItem(i).ItemId})" />
                        </div>
                    }
                    <div class="col col-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>