@using Vamos_Sergy.Models.Items
@using Vamos_Sergy.ViewModels
@using Vamos_Sergy.Models
@model ShopViewModel
@{
    ViewData["name"] = "WeaponShop";
}
<script type="text/javascript">
    let newWeaponCount = 0;
    function NotImplemented() {
        alert("Nincs implementálva");
    }

    function GetWeapons(id) {
        var maxInv = document.getElementById("maxInv").value;
        var inventorySlot = document.getElementById("invIndex").value;
        if (maxInv == inventorySlot) {
            return;
        }
        let invId = "inv" + inventorySlot;
        let invSlotId = "invSlot" + inventorySlot;
        let imgId = "img" + id;
        let shopId = "shop" + id;
        alert(shopId);

        var imgContainer = document.getElementById(imgId);
        const itemId = imgContainer.src.split('/');
        var ShopSlot = document.getElementById(shopId);

        const words = ShopSlot.innerHTML.split('<br>');
        const stringSplit = words[0].split('=');
        let desc = stringSplit[stringSplit.length - 1].replace('"', '');
        let title = "";
        let stats = "";
        for (word of words) {
            if (word.length < 20) {
                stats += word + ';';
            }
        }
        title = desc + '<br>' + title;
        stats = stats.replace(/\s/g, '');
        stats = stats.replace("Damage", "dmg");
        stats = stats.replace("Stenght", "str");
        stats = stats.replace("Dexterity", "dex");
        stats = stats.replace("Inteligence", "int");
        stats = stats.replace("Vitality", "vit");
        stats = stats.replace("Luck", "luck");
        stats = stats.replace("Block", "block");
        stats = stats.replace("%", "");
       
        var data = {
            HeroId: document.getElementById("heroId").value,
            ItemId: itemId[itemId.length - 1],
            Name: "weapon",
            Stats: stats,
        };


        var json = JSON.stringify(data);
        // alert(json);
        var xhttpr = new XMLHttpRequest();
        xhttpr.open('POST', 'https://localhost:7284/Gama', true);
        xhttpr.setRequestHeader('Content-type', 'application/json');

        xhttpr.onreadystatechange = function () {//Call a function when the state changes.
            if (xhttpr.readyState == 4 && xhttpr.status == 200) {
                alert(xhttpr.response);
                const response = JSON.parse(xhttpr.response);
                var ShopItem = document.getElementById(id);
                var InvSlot = document.getElementById(invSlotId);
                var InvItem = document.getElementById(invId);

                document.getElementById(invSlotId).innerHTML = "";
                ShopItem.id = invId;
                document.getElementById(invSlotId).appendChild(ShopItem);


                // while (inventorySlot <= maxInv) {
                //     inventorySlot++;
                //     invId = "inv" + inventorySlot;
                //     const nextInv = document.getElementById(invId);
                //     // alert(valami);
                //     if (nextInv == null) {
                //         document.getElementById("invIndex").value = inventorySlot;
                //         break;
                //     }
                //     let result = nextInv.innerHTML.includes("blank");
                //     if (result == true) {
                //         document.getElementById("invIndex").value = inventorySlot;
                //         break;
                //     }
                // }
                let newWeapon = `
                <a id="${id}"
                    tabindex="0"
                    role="button"
                    data-bs-toggle="popover"
                    title="${response.name}"
                    data-bs-content="${response.statForDisplay}"
                    href="#"><img id="img${id}" class="InventoryImage" src="/Images/ItemImages/Chest/h_chest_01.jpg" />
                </a>`
                document.getElementById(shopId).innerHTML = "";
                document.getElementById(shopId).innerHTML = newWeapon;
                const exampleEl = document.getElementById(id);
                const popover = new bootstrap.Popover(exampleEl, { html: true, trigger: "hover" });

            }
        }
        xhttpr.send(json);
    }
</script>

<div class="container-fluid">
    <input type="hidden" id="invIndex" value="@Model.Hero.GetFirsNull" />
    <input type="hidden" id="maxInv" value="@Model.Hero.MaxInvetory" />
    <input type="hidden" id="heroId" value="@Model.Hero.Id" />
    <div class="row">
        <div class="col p-0">
            <partial name="_ViewHeroPartial" model="@Model.Hero" view-data="ViewData" />
        </div>
        <div class="col p-0 b-0">
            <div class="weaponShop container">
                <div class="row p-0">
                    <div class="row row-cols-5 ps-0 pe-1 " id="inventorySlot">
                        <partial name="_InventoryLayout" model="@Model.Hero" view-data="ViewData" />

                    </div>
                </div>
                <div class="row">
                    <div class="col gy-0">
                        <button class="bg-primary" onclick="GetWeapons(0,'id')">New Wares</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-1 gy-0 ">
                    </div>
                    @for (int i = 0; i < 3; i++)
                    {
                        ViewData["index"] = i;
                        ViewData["imgIndex"] = $"img{i}";
                        ViewData["shopIndex"] = $"shop{i}";
                        <div id="@ViewData["shopIndex"]" class="col col-3 ShopSlot gy-0" oncontextmenu="NotImplemented()" ondblclick="GetWeapons(@i)">
                            <partial name="_ItemLayout" model="@Model.GetEquipment(i)" view-data="@ViewData" />
                        </div>
                        @*  <a
                    tabindex="0"
                    role="button"
                    data-bs-toggle="popover"
                    title="@Model.GetEquipment(i).Name"
                    data-bs-content="@Model.GetEquipment(i).ToString()"
                    href="#">
                    <img class="InventoryImage"  src="@Url.Action("GetInventoryImage", "Main", new { id = Model.GetEquipment(i).ItemId})" />
                    </a> *@
                    }
                    <div class="col col-2 gy-0">
                    </div>
                    <div class="row" style="padding-bottom:1rem;">
                        <div class="col col-1 gy-0">
                        </div>

                        @for (int i = 3; i < 6; i++)
                        {
                            ViewData["index"] = i;
                            <div id="@ViewData["index"]" class="col col-3 ShopSlot gy-0" ondblclick="location.href='@Url.Action("BuyWeapon", "Main" , new { index=i})'">
                                <partial name="_ItemLayout" model="@Model.GetEquipment(i)" view-data="@ViewData" />
                                <img src="/Images/ItemImages/Chest/h_chest_01.jpg" />
                            </div>
                        }
                        <div class="col col-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
