@model ICharacter
<div class="container" style="max-height:26.5rem;">
    <div class="row">
        <div class="col">
            @if (ViewData["hero"] == "Arena")
            {
                <div data-bs-toggle="modal" data-bs-target="#arenaModal">
                    <img style="height:15rem;" src="@Url.Action("GetImage", "Main", new { isUserImage = false, id =Model.Id})" class="card-img heroImg" alt="...">
                </div>
            }
            else
            {
                <div>
                    <img style="height:15rem;" src="@Url.Action("GetImage", "Main", new { isUserImage = false, id =Model.Id})" class="card-img heroImg" alt="...">
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger text-center" id="@ViewData["healthP"]" style="width: 100%">
                </div>
                <small class="justify-content-center d-flex position-absolute fw-bold" id="@ViewData["health"]" style="width:12rem">@Model.Hp</small>
            </div>
        </div>
    </div><div class="row">
        <div class="col">
            <div>
                <pre class="preStat"> Strenght            @Model.Str</pre>
                <pre class="preStat"> Dexterity           @Model.Dex</pre>
                <pre class="preStat"> Intelligence        @Model.Inte</pre>
                <pre class="preStat"> Constitution        @Model.Vit</pre>
                <pre class="preStat"> Luck                @Model.Luck</pre>
            </div>
        </div>
    </div>
    <div class="heroimageText">
        <span>@Model.Name (@Model.Level lvl)</span>
        @if (Model.GuildName != null && Model.GuildName != "")
        {
            <span>[@Model.GuildName]</span>
        }
    </div>
</div>
<div class="modal fade" id="arenaModal" tabindex="-1" aria-labelledby="arenaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" style="background-color:lightskyblue;opacity:.85">
            <div style="display:flex">
                <h4 class="arenaModalText">Arena Fight</h4>
                <button type="button" style="margin-top:.5rem;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/Main/Arena">
                <input type="hidden" id="id" value="@Model.Id" />
                <input type="hidden" id="enemyId" name="enemyId" value="@Model.Id" />
                <div class="modal-body" style="display:flex">
                    <img style="height:9rem; margin-right:1rem; max-width:30%" src="@Url.Action("GetImage", "Main", new { isUserImage = false, id =Model.Id})" class="card-img heroImg" alt="...">
                    <p id="canFightText">
                        Do you want to fight against @Model.Name (Level @Model.Level) int the arena?
                        The first ten fights of the day are special for each victory you are not only
                        with honoe and gold but also XP.(2/10 remaining)
                    </p>
                    <div id="noFightText" style="display:none">
                        <p>You are exhausted and need some rest.Your next fight is possible at [time].</p>
                        <p>You Can also spend 1 M to immediatle challenge @Model.Name (Level @Model.Level) in the arena </p>
                        <p>Fights for bunos XP: (@Model.FightCount/10 remaining)</p>
                    </div>
                </div>
                <button class="btn-primary arenaButton" type="submit">Ok</button>
            </form>

        </div>

    </div>
</div>
