<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vamos_Sergy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vamos_Sergy.styles.css" asp-append-version="true" />
</head>
<body style="background-color:black; overflow-y:hidden;">

    <header>
      @*   <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vamos_Sergy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        <partial name="_LoginPartial" />
        </div>
        </div>
        </nav>  *@
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3" style="background-color:royalblue; margin-left:7rem; margin-right:7rem;">
            <div class="row">
                <div class="col col-sm-2 col-md-2 col-lg-2">
                    <div class="btn-group-vertical w-100 h-100 g-1" role="group" aria-label="Vertical button group">
                        <div style="height:75px; background-color:black; margin-bottom:1rem;"></div>
                        <button type="button" onclick="location.href='@Url.Action("ViewHero", "Main" )'" class="btn btn-primary">Tavern</button>
                        <button type="button" onclick="location.href='@Url.Action("CreateItem", "Main" )'" class="btn btn-primary mt-2">Arena</button>
                        <button type="button" onclick="location.href='@Url.Action("WeaponShop", "Main" )'" class="btn btn-primary mt-2">Weapon Shop</button>
                        <button type="button" class="btn btn-primary mt-2">Magic Shop</button>
                        <button type="button" class="btn btn-primary mt-2">Stable</button>
                        <button type="button" class="btn btn-primary mt-2">Dungeons</button>
                        <button type="button" class="btn btn-primary mt-2">Guild</button>
                        <button type="button" class="btn btn-primary mt-2">Mail</button>
                        <button type="button" class="btn btn-primary mt-2">Hall of Fame</button>
                    </div>
                </div>
                <div class="col col-sm-10 col-md-10 col-lg-10 p-0">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Vamos_Sergy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a0addb9504.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
