@model Hero;
<table class="table table-borderless m-0 ms-1 p-0 overflow-hidden w-50">
    <tbody>
        <tr>
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Helmet) && Model.Equipment[EquipmentEnum.Helmet] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Helmet.ToString()}Link";
                <td id="@EquipmentEnum.Helmet.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Helmet, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Helmet]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Helmet.ToString()"><img class="icon" src="/Images/NullImages\helmet.png" /></td>
            }
            <td rowspan="3" colspan="2">
                <div class="card cardom">
                    <img src="@Url.Action("GetImage", "Main", new { isUserImage = false})" class="card-img heroImg" alt="...">
                    <div class="card-footer">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success text-center" style="width: @Model.GetCurrentXpPercentage%"></div>
                            <small class="justify-content-center d-flex position-absolute w-100">@Model.Level&period;level</small>
                        </div>
                    </div>
                </div>
            </td>
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Necklace) && Model.Equipment[EquipmentEnum.Necklace] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Necklace.ToString()}Link";
                <td id="@EquipmentEnum.Necklace.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Necklace, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Necklace]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Necklace.ToString()"><img class="icon" src="/Images\NullImages\necklace.png" /></td>
            }
        </tr>
        <tr>
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Armor) && Model.Equipment[EquipmentEnum.Armor] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Armor.ToString()}Link";
                <td id="@EquipmentEnum.Armor.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Armor, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Armor]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Armor.ToString()"><img class="icon" src="/Images\NullImages\armor.png" /></td>
            }
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Belt) && Model.Equipment[EquipmentEnum.Belt] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Belt.ToString()}Link";
                <td id="@EquipmentEnum.Belt.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Belt, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Belt]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Belt.ToString()"><img class="icon" src="/Images\NullImages\belt.png" /></td>
            }
        </tr>
        <tr>
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Hand) && Model.Equipment[EquipmentEnum.Hand] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Hand.ToString()}Link";
                <td id="@EquipmentEnum.Hand.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Hand, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Hand]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Hand.ToString()"><img class="icon" src="/Images\NullImages\hand.png" /></td>
            }
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Ring) && Model.Equipment[EquipmentEnum.Ring] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Ring.ToString()}Link";
                <td id="@EquipmentEnum.Ring.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Ring, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Ring]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Ring.ToString()"><img class="icon" src="/Images\NullImages\ring.png" /></td>
            }
        </tr>
        <tr>
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Leg) && Model.Equipment[EquipmentEnum.Leg] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Leg.ToString()}Link";
                <td id="@EquipmentEnum.Leg.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Leg, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Leg]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Leg.ToString()"><img class="icon" src="/Images\NullImages\leg.png" /></td>
            }
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Weapon) && Model.Equipment[EquipmentEnum.Weapon] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Weapon.ToString()}Link";
                <td id="@EquipmentEnum.Weapon.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Weapon, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Weapon]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Weapon.ToString()"><img class="icon" src="/Images\NullImages\weapon.png" /></td>
            }
            @if (Model.Kast == ClassEnum.Warrior)
            {
                @if (Model.Equipment.ContainsKey(EquipmentEnum.Shield) && Model.Equipment[EquipmentEnum.Shield] != null)
                {
                    ViewData["eq"] = $"{EquipmentEnum.Shield.ToString()}Link";
                    <td id="@EquipmentEnum.Shield.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Shield, name = ViewData["name"]})'">
                        <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Shield]" view-data="@ViewData" />
                    </td>
                }
                else
                {
                    <td id="@EquipmentEnum.Shield.ToString()"><img class="icon" src="/Images\NullImages\shield.png" /></td>
                }
            }
            else
            {
                @if (Model.Equipment.ContainsKey(EquipmentEnum.Weapon) && Model.Equipment[EquipmentEnum.Weapon] != null)
                {
                    ViewData["eq"] = $"{EquipmentEnum.Weapon.ToString()}2Link";
                    <td id="@EquipmentEnum.Weapon.ToString()2" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Weapon, name = ViewData["name"]})'">
                        <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                        new { id = Model.Equipment[EquipmentEnum.Weapon].ItemId, secondary=true})" />
                    </td>
                }
                else
                {
                    <td id="@EquipmentEnum.Weapon.ToString()"><img class="icon" src="/Images\NullImages\blank.png" /></td>
                }
            }
            @if (Model.Equipment.ContainsKey(EquipmentEnum.Misc) && Model.Equipment[EquipmentEnum.Misc] != null)
            {
                ViewData["eq"] = $"{EquipmentEnum.Misc.ToString()}Link";
                <td id="@EquipmentEnum.Misc.ToString()" ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Misc, name = ViewData["name"]})'">
                    <partial name="_EquipmentLayout" model="@Model.Equipment[EquipmentEnum.Misc]" view-data="@ViewData" />
                </td>
            }
            else
            {
                <td id="@EquipmentEnum.Misc.ToString()"><img class="icon" src="/Images\NullImages\blank.png" /></td>
            }
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            @if (Model.Kast == ClassEnum.Warrior)
                            {
                                <p style="white-space: pre-line">Strenght Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">Strenght Defense</p>
                            }
                        </div>
                        <div class="col col-2 m-0">
                            @if (Model.Kast == ClassEnum.Warrior)
                            {
                                <p style="white-space: pre-line">@Model.Str @Model.Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">@Model.Str @Model.Defence</p>
                            }
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            <p style="white-space: pre-line">Constitution Hit&nbspPoints</p>
                        </div>
                        <div class="col col-2 m-0">
                            <p style="white-space: pre-line">@Model.Vit @Model.Hp</p>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            @if (Model.Kast == ClassEnum.Ranger)
                            {
                                <p style="white-space: pre-line">Dexterity Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">Dexterity Evasion</p>
                            }
                        </div>
                        <div class="col col-2 m-0">
                            @if (Model.Kast == ClassEnum.Ranger)
                            {
                                <p style="white-space: pre-line">@Model.Dex @Model.Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">@Model.Dex @Model.Evasion</p>
                            }
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            <p style="white-space: pre-line">Luck Critical&nbspHit</p>
                        </div>
                        <div class="col col-2 m-0">
                            <p style="white-space: pre-line">@Model.Luck @Model.Crit</p>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            @if (Model.Kast == ClassEnum.Mage)
                            {
                                <p style="white-space: pre-line">Inteligence Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">Inteligence Resistance</p>
                            }
                        </div>
                        <div class="col col-2 m-0">
                            @if (Model.Kast == ClassEnum.Ranger)
                            {
                                <p style="white-space: pre-line">@Model.Inte @Model.Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">@Model.Inte @Model.Resistance</p>
                            }
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            <p style="white-space: pre-line">Armor Reduction</p>
                        </div>
                        <div class="col col-2 m-0">
                            <p style="white-space: pre-line">@Model.Armor @Model.DamageReduction</p>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>