@using Vamos_Sergy.ViewModels
@model ViewModel;
<table class="table table-borderless m-0 ms-1 p-0 overflow-hidden">
    <tbody>
        <tr>
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Helmet) && Model.Hero.Equipments[EquipmentEnum.Helmet] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Helmet, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Helmet].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images/NullImages\helmet.png" /></td>
            }
            <td rowspan="3" colspan="2">
                <div class="card cardom">
                    <img src="@Url.Action("GetImage", "Main", new { isUserImage = false})" class="card-img heroImg" alt="...">
                    <div class="card-footer">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success text-center" style="width: @Model.Hero.GetCurrentXpPercentage%"></div>
                            <small class="justify-content-center d-flex position-absolute w-100">@Model.Hero.Level&period;level</small>
                        </div>
                    </div>
                </div>
            </td>
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Necklace) && Model.Hero.Equipments[EquipmentEnum.Necklace] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Necklace, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Necklace].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\necklace.png" /></td>
            }
        </tr>
        <tr>
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Armor) && Model.Hero.Equipments[EquipmentEnum.Armor] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Armor, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Armor].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\armor.png" /></td>
            }
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Belt) && Model.Hero.Equipments[EquipmentEnum.Belt] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Belt, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Belt].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\belt.png" /></td>
            }
        </tr>
        <tr>
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Hand) && Model.Hero.Equipments[EquipmentEnum.Hand] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Hand, name = "ViewHero"})'">

                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Hand].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\hand.png" /></td>
            }
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Ring) && Model.Hero.Equipments[EquipmentEnum.Ring] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Ring, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Ring].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\ring.png" /></td>
            }
        </tr>
        <tr>
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Leg) && Model.Hero.Equipments[EquipmentEnum.Leg] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Leg, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Leg].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\leg.png" /></td>
            }
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Weapon) && Model.Hero.Equipments[EquipmentEnum.Weapon] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Weapon, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                new { id = Model.Hero.Equipments[EquipmentEnum.Weapon].ItemId})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\weapon.png" /></td>
            }
            @if (Model.Hero.Kast == ClassEnum.Warrior)
            {
                @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Shield) && Model.Hero.Equipments[EquipmentEnum.Shield] != null)
                {
                    <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Shield, name = "ViewHero"})'">
                        <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                        new { id = Model.Hero.Equipments[EquipmentEnum.Shield].ItemId})" />
                    </td>
                }
                else
                {
                    <td><img class="icon" src="/Images\NullImages\shield.png" /></td>
                }
            }
            else
            {
                @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Weapon) && Model.Hero.Equipments[EquipmentEnum.Weapon] != null)
                {
                    <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Weapon, name = "ViewHero"})'">
                        <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                        new { id = Model.Hero.Equipments[EquipmentEnum.Weapon].ItemId, secondary=true})" />
                    </td>
                }
                else
                {
                    <td><img class="icon" src="/Images\NullImages\blank.png" /></td>
                }
            }
            @if (Model.Hero.Equipments.ContainsKey(EquipmentEnum.Misc) && Model.Hero.Equipments[EquipmentEnum.Misc] != null)
            {
                <td ondblclick="location.href='@Url.Action("UnEquipItem", "Main" , new { equipment=EquipmentEnum.Misc, name = "ViewHero"})'">
                    <img class="icon" src="@Url.Action("GetInventoryImage", "Main",
                                        new { id = Model.Hero.Equipments[EquipmentEnum.Misc].ItemId, secondary=true})" />
                </td>
            }
            else
            {
                <td><img class="icon" src="/Images\NullImages\blank.png" /></td>
            }
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            @if (Model.Hero.Kast == ClassEnum.Warrior)
                            {
                                <p style="white-space: pre-line">Strenght Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">Strenght Defense</p>
                            }
                        </div>
                        <div class="col col-2 m-0">
                            @if (Model.Hero.Kast == ClassEnum.Warrior)
                            {
                                <p style="white-space: pre-line">@Model.Hero.Str @Model.Hero.Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">@Model.Hero.Str @Model.Hero.Defence</p>
                            }
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            <p style="white-space: pre-line">Constitution Hit&nbspPoints</p>
                        </div>
                        <div class="col col-2 m-0">
                            <p style="white-space: pre-line">@Model.Hero.Vit @Model.Hero.Hp</p>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            @if (Model.Hero.Kast == ClassEnum.Ranger)
                            {
                                <p style="white-space: pre-line">Dexterity Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">Dexterity Evasion</p>
                            }
                        </div>
                        <div class="col col-2 m-0">
                            @if (Model.Hero.Kast == ClassEnum.Ranger)
                            {
                                <p style="white-space: pre-line">@Model.Hero.Dex @Model.Hero.Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">@Model.Hero.Dex @Model.Hero.Evasion</p>
                            }
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            <p style="white-space: pre-line">Luck Critical&nbspHit</p>
                        </div>
                        <div class="col col-2 m-0">
                            <p style="white-space: pre-line">@Model.Hero.Luck @Model.Hero.Crit</p>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            @if (Model.Hero.Kast == ClassEnum.Mage)
                            {
                                <p style="white-space: pre-line">Inteligence Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">Inteligence Resistance</p>
                            }
                        </div>
                        <div class="col col-2 m-0">
                            @if (Model.Hero.Kast == ClassEnum.Ranger)
                            {
                                <p style="white-space: pre-line">@Model.Hero.Inte @Model.Hero.Damage</p>
                            }
                            else
                            {
                                <p style="white-space: pre-line">@Model.Hero.Inte @Model.Hero.Resistance</p>
                            }
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
            <td class="m-0 p-0" colspan="2">
                <div class="container">
                    <div class="row p-0">
                        <div class="col col-6 m-0 gy-0">
                            <p style="white-space: pre-line">Armor Reduction</p>
                        </div>
                        <div class="col col-2 m-0">
                            <p style="white-space: pre-line">@Model.Hero.Armor @Model.Hero.DamageReduction</p>
                        </div>
                        <div class="col col-2">
                            <button type="button" class="btn btn-info statButton"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>